.logo{
  width: 225px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-menu{
  z-index: 100;
}

@media (max-width: 768px) {
  .logo{
    width: 100%;
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .btn-link{
    left: 190px;
    position: absolute;
  }
}
