<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="">Home</a>
    </li>
    <li class="breadcrumb-item active">personas</li>
  </ol>

  <div class="table table-striped table-responsive">

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Búsqueda por Id Crecer
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form>
              <mat-form-field class="example-full-width">
                <mat-label>Id crecer</mat-label>
                <input
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       type="number"
                       maxlength="10"
                       matInput
                       placeholder="Ingrese el Id"
                       required
                       name="id"
                       [(ngModel)]="id"/>
              </mat-form-field>
              <button [disabled]="id === ''"  type="submit" class="btn btn-primary" (click)="getPersonsById('id')"
                      data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Aceptar
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Búsqueda por Persona
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <form>
              <mat-form-field>
                <mat-label>Tipo Persona</mat-label>
                <mat-select name="personType"
                            (selectionChange)="clearId()" [(ngModel)]="personType">
                  <mat-option value="nrodoc">
                    Persona Fisica
                  </mat-option>
                  <mat-option value="cuit">
                    Persona Juridica
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>{{personType==='nrodoc' ? 'Nro Documento' : 'CUIT / CUIL'}}</mat-label>
                <input
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  type = "number"
                  maxlength="{{personType==='nrodoc' ? 8 : 11 }}"
                  matInput
                  placeholder="Ingrese el Id"
                  name="id"
                  required
                  [(ngModel)]="id" />
              </mat-form-field>
              <!--div class="form-group">
                <label for="exampleInputEmail1">Denominacion</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Ingrese la denominacion">
              </div-->
              <button type="submit" class="btn btn-primary" (click)="getPersonsById(personType)"
                      [disabled]="id === ''"
                      data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Aceptar
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Búsqueda por Filial/Cuenta
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <form>
              <!--div class="form-group">
                <label>Filial</label>
                <input class="form-control" id="filifal" placeholder="Ingrese la filial">
              </div-->
              <mat-form-field>
                <mat-label>Tipo Cuenta</mat-label>
                <mat-select name="personType" (selectionChange)="clearId()" [(ngModel)]="personType">
                  <mat-option value="cuit">
                    Cuenta Corriente en Pesos
                  </mat-option>
                  <mat-option value="nrodoc">
                    Caja de Ahorros en Pesos
                  </mat-option>
                  <mat-option value="cuit">
                    Caja de Ahorros en Dolares
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Cuenta</mat-label>
                <input
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  type = "number"
                  maxlength="{{personType==='nrodoc' ? 8 : 11 }}"
                  matInput
                  placeholder="Ingrese la cuenta"
                  name="id"
                  required
                  [(ngModel)]="id" />
              </mat-form-field>
              <button type="submit" class="btn btn-primary" (click)="getPersonsById(personType)"
                      [disabled]="id === ''"
                      data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Aceptar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <loading-spinner *ngIf="loading"></loading-spinner>
    <div *ngIf="filteredPersons.length>0">

      <table mat-table [dataSource]="filteredPersons" class="table">
        <!-- Position Column -->
        <ng-container matColumnDef="idPersona">
          <th mat-header-cell *matHeaderCellDef> Id Crecer. </th>
          <td mat-cell *matCellDef="let element"> {{element.idPersona}} </td>
        </ng-container>

        <ng-container matColumnDef="nroDoc">
          <th mat-header-cell *matHeaderCellDef> Nro Documento. </th>
          <td mat-cell *matCellDef="let element"> {{element.nroDoc}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre. </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="nroCUI">
          <th mat-header-cell *matHeaderCellDef> CUIT/L/E. </th>
          <td mat-cell *matCellDef="let element"> {{element.nroCUI}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <a
              type="button"
              class="btn"
              matTooltip="Detalle"
              routerLink="/person/{{element.idPersona}}">
              <i class="fas fa-eye"></i>
              Ver detalle
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
</div>
