<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Busqueda por Id Crecer
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="idCrecer">Id crecer</label>
            <input class="form-control" id="idCrecer" placeholder="Enter email">
            <small class="form-text text-muted">Ingrese el id.</small>
          </div>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Busqueda por Persona
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="personType">Tipo Persona</label>
            <select id="personType" class="form-control">
              <option>Natural</option>
              <option>Juridica</option>
            </select>
          </div>
          <div class="form-group">
            <label for="documentNumber">Nro Documento</label>
            <input class="form-control" id="documentNumber" placeholder="Ingrese el documento">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Denominacion</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Ingrese la denominacion">
          </div>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Busqueda por Cuenta
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="documentNumber">Filial</label>
            <input class="form-control" id="filifal" placeholder="Ingrese la filial">
          </div>
          <div class="form-group">
            <label for="accountType">Tipo Cuenta</label>
            <select id="accountType" class="form-control">
              <option>Corriente</option>
              <option>Ahorros</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Cuenta</label>
            <input class="form-control" id="account" placeholder="Ingrese la cuenta">
          </div>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
</div>
