<!-- Sidebar -->
<ul class="sidebar navbar-nav toggled">
  <li class="nav-item active">
    <a class="nav-link" routerLink="">
      <i class="fas fa-home"></i>
      <span> Inicio</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" routerLink="/person">
      <i class="fas fa-user"></i>
      <span> Personas</span>
    </a>
  </li>
  <!--li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="registros" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Registros</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="registros">
      <h6 class="dropdown-header">Carga de datos:</h6>
      <a class="dropdown-item" routerLink="/users">Clientes</a>
      <a class="dropdown-item" routerLink="/vehicles">Vehiculos</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Otros:</h6>
      <a class="dropdown-item" routerLink="/providers">Proveedores</a>
      <a class="dropdown-item" routerLink="/contacts">Contactos</a>
    </div>
  </li-->
  <!--li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="listados" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-list"></i>
      <span>Listados</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="listados">
      <h6 class="dropdown-header">Vehiculos:</h6>
      <a class="dropdown-item" routerLink="/listVehicles/stock">Stock</a>
      <a class="dropdown-item" routerLink="/listVehicles/expertise">Peritaje</a>
    </div>
  </li-->
  <!--li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li-->
</ul>
